body {
  margin: 0;
  font-family: "Droid nano", Courier, monospace ;
  background: rgb(48,48,50);
  background: linear-gradient(90deg, rgba(48,48,50,1) 0%, rgba(87,88,93,1) 46%, rgba(44,150,120,1) 100%);
}


button{
  cursor: pointer;
}
